<div id="fullpage">

    <div class="section">
	    <div class="hero">
			<h1>EL PROVEEDOR</h1>
			<p>Comparte la navidad con nosotros</p>
			<%= link_to  anchetas_path ,class: 'btn' do %>
                <div class="effect-btn"></div>
                <p>VER ANCHETAS Y MATRIMONIOS</p>
            <% end %>
	    </div>
    </div>
    <div class="section slide">
            <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><%= image_tag("SLIDE 1.png", width: '100%') %></div>
            <div class="swiper-slide"><%= image_tag("SLIDE 2.png", width: '100%') %></div>
            <div class="swiper-slide"><%= image_tag("SLIDE 3.png", width: '100%') %></div>
            <div class="swiper-slide"><%= image_tag("SLIDE 4.png", width: '100%') %></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>


    </div>
    <div class="section locat">
    	<div class="location">
        <div class="footer">
            <div>
                <span class="ion-social-instagram-outline"></span>
                <span class="ion-social-facebook-outline"></span>
                <span class="ion-social-twitter-outline"></span>
            </div>
            <hr>
            <div class="datos">
                <p>Tel +(8) 6608393 | comercialelproveedorsas@hotmail.com</p>
                <p>© 2016, Comercial El Proveedor S.A.S</p>
            </div>
        </div>
    	<div>
	    	<iframe class="map-location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6692.581560886729!2d-73.6143486600396!3d4.134941288655215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3e2e7bcedd9cad%3A0xd71694cd4e6fc17b!2sEl+Proveedor!5e0!3m2!1ses-419!2ses!4v1480791315145" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	    	<h2>Villavicencio-Meta, Colombia</h2>
    	</div>

    	</div>
    </div>

</div>


